$color-1: #00828b;
$color-2: #ff9700;

.ODA_prato_saudavel {
    width: 920px;
    max-width: 100%;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(0, 129, 138, .3);
    display: block;
    margin: 30px auto;
    position: relative;

    h1 {
        line-height: 2.5rem;
    }

    .tela-1 .start_msg p,
    .tela-5 .end_msg p {
        font-size: 22px;
    }

    .gride {
        width: fit-content;
        border: 1px solid #333;
        background-size: 100% 100%;
        padding: 0;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        max-width: 100%;
    }
    .gride-2 {
        position: relative;
        display: block;
        height: 400px;
        width: 100%;
        background-color: rgba(255, 151, 0, .4);
        border-radius: 10px;

        .option-c, .option-e {
            max-width: 200px;
            background-color: transparent;
            position: absolute;
            padding: 0;
            border: none;

            &:hover {
                transform: scale(1.1);
            }
        }
        button:first-of-type {
            top: 40px;
            left: 40px;
        }
        button:last-of-type {
            bottom: 40px;
            right: 40px;
        }
    }
    .gride-2.blue{
        background-image: url('../img/Blue.png');
    }
    .gride-2.green{
        background-image: url('../img/Green.png');
    }
    .gride-2.red{
        background-image: url('../img/Red.png');
    }
    .tela-2,
    .tela-3,
    .tela-4 {
        display: flex;
        justify-content: center;
    }

    .tela-2 .gride {
        background-image: url('../img/grid_1.jpg');
    }

    .tela-3 .gride {
        background-image: url('../img/grid_2.jpg');
        background-position: -20px;
    }

    .tela-4 .gride {
        background-image: url('../img/grid_3.jpg');
    }

    .gride .row {
        margin-left: 0;
        margin-right: 0;
    }

    .gride .g-item {
        border: 1px solid #333;
        height: 100px;
        width: 100px;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .gride .g-item:hover {
        background-color: rgba($color: #000000, $alpha: .3);
    }

    .gride .g-item.selected {
        background-color: rgba($color: $color-2, $alpha: .5);
    }

    .tela {
        position: absolute;
        border-radius: 25px;
        padding: 20px;
        height: 100%;
        width: 100%;
    }

    .ui_btn {
        background-color: $color-2;
        border-radius: 10px;
        min-width: 125px;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        border: 2px solid white;
        display: block;
        margin: 20px auto;
        transition-duration: .2s;
    }

    .ui_btn:hover {
        transform: translateY(-2px);
        transition-duration: .2s;
        box-shadow: 2px 2px 2px #333;
    }

    .btn_row {
        display: flex;
        justify-content: end;
    }

    .verificar_btn,
    .ingredientes_btn {
        margin: 15px 0;
    }

    .tela-1,
    .tela-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        z-index: 10;
        background-color: rgba($color: $color-1, $alpha: .8);
    }

    .tela-1 .start_msg,
    .tela-5 .end_msg {
        background-color: rgba($color: white, $alpha: .8);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 3px 3px 3px #333;
        width: 80%;
        text-align: center;
    }

    .modal_ingredientes,
    .modal_resultado {
        background-color: white;
        padding: 15px;
        margin: 10px;
        margin-right: 0;
        box-shadow: 2px 2px 2px #333;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        p {
            margin: 0;
            line-height: 1.3rem;
            display: flex;
            align-items: center;
            font-size: 20px;
        }

        .modal_cls_btn {
            position: absolute;
            right: 15px;
            background-color: #ff9700;
            border: none;
            border-radius: 3px;
            width: 30px;
            height: 30px;
            font-weight: 600;
            transition-duration: .1s;
        }

        .modal_cls_btn:hover {
            transform: translateY(-1px);
            transition-duration: .1s;
            box-shadow: 1px 1px 1px #333;
        }
    }

    .modal_resultado {
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 20px;

        p {
            font-weight: 600;
            font-size: 24px;
            margin: 0;
        }

        h3 {
            margin: 0;
        }

    }


    .prato {
        width: 85px;
        height: auto;
        margin: 5px;
    }

    .section-1 {
        padding-top: 12px;
        width: 402px;
    }

    .enunciado {
        color: #333;
        line-height: 1.4rem;
        text-align: center;
        margin-top: 0;
        font-weight: 600;
    }
    .disabled {
        pointer-events: none;
        opacity: .7;
    }
}

@media (max-width:600px) {
    .ODA_prato_saudavel {
        .gride .g-item {
            width: 75px;
            height: 75px;
        }

        .modal_ingredientes,
        .modal_resultado {
            width: 100%;
            margin: auto;
            padding-top: 40px;
            padding-bottom: 40px;

            p {
                margin-top: 30px;
            }
        }
    }
}